.circlesBox{
  aspect-ratio: 1/1;
  min-width: 20%;
}

.topCircle{
  width: 28%;
  transform: translate(-50%,-50%);
  top: 25%;
  left: 50%;
}

.rightCircle{
  width: 28%;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 75%;
}

.bottomCircle{
  width: 28%;
  transform: translate(-50%,-50%);
  top: 75%;
  left: 50%;
}

.leftCircle{
  width: 28%;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 25%;
}
