.wrap{
    border: solid 35px;
    position: relative;
    border-radius: 15px;
    height: 100%;
}


body{background-color: white;


}
.cam{
    width:12px;
    height:12px ;
    background-color: black;
    border-radius: 50%;
    display: block;
    position: relative;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
 .tablet{
    padding: 30px;
 }

